@import "var";
@import "mixin";
@import "reset";

html, body, .ui-container {
  //height:100%;
}

.ui-container {
  width: 100vw;
}

.ui-ta-center {
  text-align: center;
}

.ui-mr-auto {
  margin: auto;
}
